
.parrent{
    position: relative;
    top:25%;
    bottom:25% ;
    left: 35%;
    right: 35%;
    width: 25%;
    height: 50%;
    border: 5px solid blue;
    background-color:blue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.parrent > button{
    position: relative;
    background-color: yellow;
    width: 50%;
    left: 25%;
   
}

.parrent > .input-text-field {
    position: relative;
    border-radius: 5px;
    background-color: white;
    width: 60%;
    left: 0%;
    display: flex;
    flex-direction: column;
    margin: auto;
}