.parrent {
    display: flex;
    flex-direction: column;
    top:25%;
    align-items: center;
    gap:2px;
}

.parrent > .input-text-field {
    position: relative;
    border-radius: 5px;
    background-color: white;
    width: 60%;
}

.parrent > .button {
    left:0px;
    background-color: yellow;
}

.parrent > li {
    list-style: none;
}


.parrent > .link {
    position: relative;
    list-style: none;
    color: black;
}