
.app {
    background: repeating-linear-gradient(-45deg, rgb(51,49,49), black 1px);
    display: flex;
    min-width: 100hv;
    min-height: 100vh;
}

.text-field {
    background-color: white;
    border-radius: 5px;
    width: 70%;
    right: 10px;
}

.input-text-field {
    border-radius: 5px;
    background-color: white;
    width: 70%;
    right: 10px;
    display: flex;
    
}